{% extends 'base.html' %} {%block title%}SIGNUP{%endblock%} {%block content%}
<form method="POST">
  <p align="center" class="fs-3">Sign Up</p>
  <div class="row g-3">
    <div class="col">
      <label for="first-name" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        name="first-name"
        id="first-name"
        placeholder="First name"
        aria-label="First name"
      />
    </div>
    <div class="col">
      <label for="last-name" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        name="last-name"
        id="last-name"
        placeholder="Last name"
        aria-label="Last name"
      />
    </div>
  </div>
  <br />
  <div class="form-group">
    <label for="email" class="form-label">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter Email Address"
    />
  </div>
  <div class="form-group">
    <label for="password" class="form-label">password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>

  <div class="form-group">
    <label for="confirm" class="form-label">password(confirm)</label>
    <input
      type="password"
      class="form-control"
      id="confirm"
      name="confirm"
      placeholder="Enter password"
    />
  </div>
  <button type="submit" class="btn btn-primary">submit</button>
</form>
{%endblock%}
